---
title: Analytics API
parent: Home
description: 'The <span translate="No">Analytics API</span> allows you to obtain analytics data for your Video Cloud accounts programmatically. You can also view the built-in analytics reports in the Analytics Module of Video Cloud Studio. Accessing the data programmatically gives you additional flexibility.'
icon: '<i data-feather="bar-chart-2"></i>'
---

<style>
  h1 i.fal, h1 i.fab, h1 i.fas, h1 i.far {
    font-size: 3rem;
    color:{{site.product_color}};
    margin-right: .5rem;
  }
  .bcls-card-small ul {
    font-size: small;
    list-style: none;
    margin-left: -3em;
  }

</style>

<article class="bcls-article">
  <h1>{{ page.icon }} {{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <table width="100%" border="0">
    <tbody>
      <tr>
        <td width="30%">
        <div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5996554433001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
        <td width="70%">
        <h3 id="Typical_uses">Typical uses</h3>
  
        <ul>
          <li>Creating custom charts and displays</li>
          <li>Working with multiple APIs together - for example, getting video data using the <span translate="No">CMS API</span> for videos with the most views over the previous week</li>
          <li>Combining your video analytic data with other site analytics data</li>
        </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <section class="card-wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.title %}
        {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section>
</article>
