---
title: Analytics API
parent: Home
description: 'The Analytics API allows you to obtain analytics data for your Video Cloud accounts programmatically. You can also view the built-in analytics reports in the Analytics Module of Video Cloud Studio. Accessing the data programmatically gives you additional flexibility.'
icon: fa-regular fa-chart-line-up
---

<!-- Template for section that just has sub-sections -->
{% for item in site.data.navigation %}
  {% if item.name == page.title %}
    <h1><i class="{{ item.icon }}"></i> {{ page.title }}</h1>
    <article class="bcls-article">
    <summary>{{ page.description }}</summary>
    <table width="100%" border="0">
      <tbody>
        <tr>
          <td width="30%">
          <div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5996554433001">&nbsp;</div>
          <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
          <td width="70%">
          <h3 id="Typical_uses">Typical uses</h3>
          <ul>
            <li>Creating custom charts and displays</li>
            <li>Working with multiple APIs together - for example, getting video data using the <span translate="No">CMS API</span> for videos with the most views over the previous week</li>
            <li>Combining your video analytic data with other site analytics data</li>
          </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      {% for entry in item.docs %}
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm" style="background: white" onclick="window.location.href = '{{ entry.url }}'">
            <div class="card-body">
              <div>
                {% if entry.docs %}
                <h5 class="card-title text-center m-2">{{ entry.name }}</h5>
                <ul class="list-group list-group-flush">
                  {% for subdoc in entry.docs %}
                  <li class="list-group-item"><a href="{{ subdoc.url }}" style="text-decoration: none;">{{ subdoc.name }}</a></li>
                  {% endfor %}
                </ul>
                {% else %}
                <h5 class="card-title">{{ entry.name }}</h5>
                {% endif %}
            </div>
            <!-- <a class="card-link-mask" href="{{entry.url}}"></a> -->
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
  {% endif %}
{% endfor %}
