openapi: 3.0.0
x-bc-implicit-head: true
x-bc-implicit-options: true
info:
  title: Brightcove Image API
  version: 1.0.0
  x-bc-access: public
servers:
  - url: "https://images.brightcovecdn.net"
    variables: {}
components:
  parameters:
    ImageURL:
      name: imageURL
      in: path
      description: image URL
      required: true
      style: simple
      schema:
        type: string
    # Token:
    #   name: token
    #   in: path
    #   description: JWT token
    #   required: false
    #   style: simple
    #   schema:
    #     type: string
    Resize:
      name: resize
      in: query
      description: resize width and heigth in the format 200x200
      required: false
      style: simple
      schema:
        type: string
    Crop:
      name: crop
      in: query
      description: crop width and heigth in the format 200x200
      required: false
      style: simple
      schema:
        type: string
    Rotate:
      name: rotate
      in: query
      description: rotate image the specified degrees
      required: false
      style: simple
      schema:
        type: string
paths:
  /image/v1/{account_id}/default/url/{imageURL}:
    parameters:
      - $ref: "https://openapi.brightcove.com/openapi.yaml#/components/parameters/AccountId"
      # - $ref: "#/components/parameters/Token"
      - $ref: "#/components/parameters/ImageURL"
      - $ref: "#/components/parameters/Resize"
      - $ref: "#/components/parameters/Crop"
      - $ref: "#/components/parameters/Rotate"
    get:
      summary: Get a specific Image with the speficied transformations
      operationId: TransformCustomImage
      tags:
        - Custom Image transformations
      responses:
        "200":
          description: Expected response to a valid request
          content:
            image/*: {}
        "404":
          description: Image not found
          content:
            application/json:
              example:
                {
                  "error":"Unexpected response code while fetching image"
                }
        "500":
          description: Internal Server Error
          content:
            application/json:
              example:
                {
                  "error":"Unexpected error"
                }