[submodule "s-scripts"]
	path = s-scripts
	url = https://github.com/BrightcoveLearning/s-scripts
  branch = main
[submodule "_includes/s-admin"]
	path = _includes/s-admin
	url = https://github.com/BrightcoveLearning/s-admin
  branch = main
[submodule "_includes/s-apis-general"]
	path = _includes/s-apis-general
	url = https://github.com/BrightcoveLearning/s-apis-general
  branch = main
[submodule "_includes/s-general"]
	path = _includes/s-general
	url = https://github.com/BrightcoveLearning/s-general
  branch = main
[submodule "assets/images/s-admin-img"]
	path = assets/images/s-admin-img
	url = https://github.com/BrightcoveLearning/s-admin-img
  branch = main
[submodule "assets/images/s-apis-general-img"]
	path = assets/images/s-apis-general-img
	url = https://github.com/BrightcoveLearning/s-apis-general-img
  branch = main
[submodule "assets/images/s-general-img"]
	path = assets/images/s-general-img
	url = https://github.com/BrightcoveLearning/s-general-img
  branch = main
