---
title: Getting Started
description: This section provides overviews of the APIs, authenticating API requests, testing tools, and building simple web apps using the APIs.
parent: Home
icon: fa-regular fa-map-pin
---
<h1><i class="{{ page.icon }}"></i> {{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <br/>
  <h2 id="Topics_in_this_section">Topics in this section</h2>
  <div class="col-12 col-lg-4 py-3">
    <div class="card shadow-sm" style="background: white">
      <div class="card-body">
        
        <ul class="list-group list-group-flush">
          {% for item in site.data.navigation %}
          {% if item.name == page.title %}
          {% for entry in item.docs %}
          <li class="list-group-item"><a href="{{ entry.url }}" style="text-decoration: none;">{{ entry.name }}</a> {% if entry.docs %}
            <ul class="list-group list-group-flush">
              {% for subentry in entry.docs %}
              <li class="list-group-item"><a href="{{ subentry.url }}" style="text-decoration: none;">{{ subentry.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %} </li>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    </div>
  <!-- <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">Topics in this section</h2>
        <ul>
          {% for item in site.data.navigation %}
          {% if item.name == page.title %}
          {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
            <ul>
              {% for subentry in entry.docs %}
              <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %} </li>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </section>
  </section> -->
</article>
