<!-- search bar -->

<div id="search_bar" class="search-bar">
  <!-- TODO - cx value below must be changed for each site and new GCS instance set up-->
  <!-- <script async src="https://cse.google.com/cse.js?cx=017969773216783359937:6sd3di5mwuw"></script> -->
  <div style="text-align: right;position:relative;font-weight: bold;">
    
    <p style="position: fixed;right:.1rem;top:7.3rem;z-index: 999999;font-size: small;border: 1px {{ site.product_color }}solid;padding:4px;"><a href="https://support.brightcove.com">Search All Docs Instead <i class="far fa-external-link-square-alt"></i></a></p>
    </div>
