---
title: Cloud Playout APIs
parent: Home
description: 'There are two APIs for Cloud Playout: 1) The EPG API used to get an electronic programming guide (EPG) for a channel; 2) the Channels API used to retrieve information about channels.'
---


<h1><i class="fa-regular fa-cloud-bolt"></i> {{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>

  <div class="row">
    {% for item in site.data.navigation %}
    {% if item.name == page.title %}
    {% for entry in item.docs %}
    <div class="col-12 col-lg-4 py-3">
      <div class="card shadow-sm" style="background: white">
        <div class="card-body">
          <div>
            {% if entry.docs %}
            <h5 class="card-title text-center m-2">{{ entry.name }}</h5>
            <ul class="list-group list-group-flush">
              {% for subdoc in entry.docs %}
              <li class="list-group-item"><a href="{{ subdoc.url }}" style="text-decoration: none;">{{ subdoc.name }}</a></li>
              {% endfor %}
            </ul>
            {% else %}
            <h5 class="card-title">{{ entry.name }}</h5>
            {% endif %}
        </div>
        <a class="card-link-mask" href="{{entry.url}}"></a>
      </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>

  <!-- <section class="card-wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.title %}
        {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section> -->
</article>
