openapi: 3.0.0
x-bc-implicit-head: true
x-bc-implicit-options: true
info:
  title: Brightcove Image API
  description: |-
    The Images API allows you to resize, crop, and rotate an image.

    **Base URL: https://image.playback.us-east-1.prod.deploys.brightcove.com**
  version: 1.0.0
  x-bc-access: public
servers:
  - url: "https://image.playback.us-east-1.prod.deploys.brightcove.com"
    variables: {}
  - url: "https://image.playback.us-east-1.qa.deploys.brightcove.com"
    variables: {}
components:
  parameters:
    AccountId:
      description: Account ID.
      explode: false
      in: path
      name: account_id
      required: true
      schema:
        type: string
      style: simple
    ImageURL:
      name: imageURL
      in: path
      description: >
        image URL - must be `encodeURIComponent` encoded. You can use this [string encoder](https://general.support.brightcove.com/utilities/string-encoder.html)
      required: true
      style: simple
      schema:
        type: string
    # Token:
    #   name: token
    #   in: path
    #   description: JWT token
    #   required: false
    #   style: simple
    #   schema:
    #     type: string
    Resize:
      name: resize
      explode: true
      in: query
      description: resize width and height in the format 200x200
      required: false
      style: form
      schema:
        type: string
    Crop:
      name: crop
      explode: true
      in: query
      description: crop width and height in the format 200x200
      required: false
      style: form
      schema:
        type: string
    Rotate:
      name: rotate
      explode: true
      in: query
      description: rotate image the specified degrees
      required: false
      style: form
      schema:
        type: string
paths:
  /image/v1/{account_id}/default/url/{imageURL}:
    parameters:
      - $ref: "#/components/parameters/AccountId"
      # - $ref: "#/components/parameters/Token"
      - $ref: "#/components/parameters/ImageURL"
      - $ref: "#/components/parameters/Resize"
      - $ref: "#/components/parameters/Crop"
      - $ref: "#/components/parameters/Rotate"
    get:
      summary: Get a specific Image with the specified transformations
      operationId: TransformCustomImage
      tags:
        - Custom Image transformations
      responses:
        "200":
          description: Expected response to a valid request
          content:
            image: 
              example: '{Returns the image file}'
        "404":
          description: Image not found
          content:
            application/json:
              example:
                {
                  "error":"Unexpected response code while fetching image"
                }
        "500":
          description: Internal Server Error
          content:
            application/json:
              example:
                {
                  "error":"Unexpected error"
                }