---
title: 'Aspera' 
description: 'Brightcove offers a simple and flexible solution for adding videos and media assets to Video Cloud using <a href="https://ibm.com/products/aspera" target="_blank">Aspera</a>. The topics in this section explain the details.'
parent: Home
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="bcls-section" id="page_wrapper">
    {% for item in site.data.navigation %}
    {% if item.name == page.title %}
    <section class="flex-container">
      <div>
        <ul class="landing-page-item">
          {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endif %}
    {% endfor %}
  </section>
</article>
