---
title: CMS API
parent: Home
description: '<br><br>
<p>The <span translate="No">CMS API</span> provides uncached read access to the data. This is important for time-sensitive publishing workflows because you make changes to videos and playlists using the <span translate="No">CMS API</span> and quickly read the data to verify that is correct.</p>'
---

<h1>{{ page.title }}</h1>
<article class="bcls-article">

  <div style="width: 100%;">
    <div style="width: 35%;vertical-align: top;display: inline-block;">
      <div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5996554435001">&nbsp;</div>
      <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script>
    </div>
    <div style="display: inline-block; width: 55%;">
      <summary style="display: block;">{{ page.description }}</summary>
    </div>
  </div>

  <section class="bcls-section" id="page_wrapper">
    {% for item in site.data.navigation %}
    {% if item.name == page.title %}
    <section class="flex-container">
      {% for entry in item.docs %}
      <div>
        {% if entry.docs %}
        <h3><a href="{{ entry.url }}">{{ entry.name }}</a></h3>
        <ul class="landing-page-item">
          {% for subdoc in entry.docs %}
          <li><a href="{{ subdoc.url }}">{{ subdoc.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <div><a href="{{ entry.url }}">{{ entry.name }}</a></div>
        {% endif %}
      </div>
      {% endfor %}
    </section>
    {% endif %}
    {% endfor %}
  </section>
</article>