---
title: CMS API
parent: Home
description: 'The CMS API provides uncached read access to the data. This is important for time-sensitive publishing workflows because you make changes to videos and playlists using the CMS API and quickly read the data to verify that is correct.'
icon: '<i class="fal fa-project-diagram"></i>'
---

<style>
  h1 i.fal, h1 i.fab, h1 i.fas, h1 i.far {
    font-size: 3rem;
    color:{{site.product_color}};
    margin-right: .5rem;
  }
  .bcls-card-small ul {
    font-size: small;
    list-style: none;
    margin-left: -3em;
  }

</style>
<script type="text/javascript" 
    id="bcs_js_snippet"
    src="https://ui.customsearch.ai/api/ux/rendering-js?customConfig={{ site.bing_custom_config_id }}&market=en-US&version=latest&q=">
</script>
<article class="bcls-article">
  <h1>{{ page.icon }} {{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.title %}
        {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section>
</article>
