---
title: Image API
parent: Home
description: 'The Image API allows you to resize, crop, and rotate images.'
---
<h1><i class="fa-regular fa-image"></i> {{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <br/>
    <div>
      <div class="card shadow-sm" style="background: white">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/images/getting-started/overview.html" style="text-decoration: none;">Overview</a></li>
            <li class="list-group-item"><a href="/images/references/reference.html" style="text-decoration: none;">Image API Reference</a></li>
            <li class="list-group-item"><a href="/images/references/image-token-api-reference.html" style="text-decoration: none;">Image
                Token API Reference</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <section class="card-wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.title %}
        {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section> -->
  </article>
