---
title: Player Management API
parent: Home
icon: '<i class="fal fa-photo-video"></i>'
description: '<p>Player Management refers to the creation, editing and management of players as a resource to publishers. Player Management is achieved by a server-side, REST API that allow its consumers to create, configure, preview and publish player instances.</p>

<p>Note that most of the operations that can be performed using the API can also be performed in <a href="/node/14049">Studio</a>.</p>'
---
<style>
  h1 i.fal, h1 i.fab, h1 i.fas, h1 i.far {
    font-size: 3rem;
    color:{{site.product_color}};
    margin-right: .5rem;
  }
  .card-icon i {
    color: {{site.product_color}};
  }
  .card-wrapper {
  justify-content: start;
  }
  .bcls-card ul li {
    font-size: small;
  }
</style>

<article class="bcls-article">
  <h1>{{ page.icon }} {{ page.title }}</h1>
  <div style="width: 100%;">
      <div style="width: 35%;vertical-align: top;display: inline-block;"><div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5996554436001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></div>
      <div style="display: inline-block; width: 55%;"><summary style="display: block;">{{ page.description }}</summary></div>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.title %}
        {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section>
</article>
