---
title: Delivery Rules API
parent: Delivery Rules API 
icon: '<img class="bcls-icon" src="/assets/images/feather/filter.svg">'
description: 'This section provides information about using the Delivery Rules API to fetch Delivery Rules and manage Conditions and Actions.'
---
<style>
  h1 i.fal, h1 i.fab, h1 i.fas, h1 i.far {
    font-size: 3rem;
    color:{{site.product_color}};
    margin-right: .5rem;
  }
  .card-icon i {
    color: {{site.product_color}};
  }
  .card-wrapper {
  justify-content: start;
  }
  .bcls-card ul li {
    font-size: small;
  }
</style>

<article class="bcls-article">
  <h1>{{ page.icon }} {{ page.title }}</h1>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.title %}
        {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section>
</article>