---
title: Playback Rights
parent: Home

description: "Brightcove's Playback Rights Management Service provides a scalable and expressive way to manage video playback."
layout: doc_pages_staging
---
<style translate="no">
  .card-icon i {
    color: rgb(9, 7, 140);
  }

  .card-wrapper {
    justify-content: start;
  }

</style>

<h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>

  <!-- <section class="card-wrapper">
    {% for item in site.data.navigation %}
    {% if item.name == page.title %}
    {% for subsection in item.docs %}
    <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
      <div class="card-content">
        <h2>{{ subsection.name }}</h2>
        <ul>
          {% for doc in subsection.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %}
    {% endif %}
    {% endfor %} -->

    <!-- remove sections below when this goes live -->
    <!-- <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/getting-started/index.html'">
      <div class="card-content"> -->
        <div class="row">
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm" style="background: white">
            <div class="card-body">
        <h5 class="card-title text-center m-2">Getting Started</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/playback-rights/getting-started/overview-epa.html" style="text-decoration: none;">Overview: Playback Rights Service</a></li>
          <li class="list-group-item"><a href="/playback-rights/getting-started/implementing-epa.html" style="text-decoration: none;">Implementing DRM with Playback Authorization Service</a></li>
        </ul>
      </div>
    </div>
  </div>
      <!-- </div>
    </section> -->
    <!-- <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/guides/index.html'">
      <div class="card-content"> -->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm" style="background: white">
            <div class="card-body">
        <h5 class="card-title text-center m-2">Guides</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/playback-rights/guides/device-limits.html" style="text-decoration: none;">Implementing Device Limits</a></li>
          <li class="list-group-item"><a href="/playback-rights/guides/using-epa-with-bcp.html" style="text-decoration: none;">Using Playback Rights with the Brightcove Player</a></li>
          <li class="list-group-item"><a href="/playback-rights/guides/using-epa-with-sdks.html" style="text-decoration: none;">Using Playback Rights with the Native SDKs</a></li>
        </ul>
      </div>
    </div>
  </div>
      <!-- </div>
    </section> -->
    <!-- <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/getting-started/index.html'">
      <div class="card-content"> -->
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm" style="background: white">
            <div class="card-body">
        <h5 class="card-title text-center m-2">References</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/playback-rights/references/epa-errors.html" style="text-decoration: none;">Playback Rights Error Reference</a></li>
          <li class="list-group-item"><a href="/playback-rights/references/reference.html" style="text-decoration: none;">Audit API Reference</a></li>
          <li class="list-group-item"><a href="/playback-rights/references/reference.html" style="text-decoration: none;">Playback Rights API Reference</a></li>
          <li class="list-group-item"><a href="/playback-rights/references/audit-api/reference.html" style="text-decoration: none;">Audit API Reference</a></li>
          <li class="list-group-item"><a href="/playback-rights/references/blacklist-api/reference.html" style="text-decoration: none;">Blacklist API Reference</a></li>
          <li class="list-group-item"><a href="/playback-rights/references/devices-api/reference.html" style="text-decoration: none;">Devices API Reference</a></li>
          <li class="list-group-item"><a href="/playback-rights/references/key-api/reference.html" style="text-decoration: none;">Key API Reference</a></li>
        </ul>
      <!-- </div>
    </section> -->
  </div>
</div>
</div>
</div>
    <!-- end removal -->

  </section>
</article>