openapi: 3.0.0
x-bc-implicit-head: true
x-bc-implicit-options: true
x-bc-upstream: 'http://backend_server'
info:
  title: Channel API Reference
  description: |-
    Reference for the Brightcove Channels API, used to retrieve a list of Cloud Playout channels created in Studio - see [Using Cloud Playout to Stream VOD Videos](https://studio.support.brightcove.com/cloud-playout/index.html) for details on how to create a channel.

    For additional information on the API, see the **[Overview: EPG API](/epg/getting-started/overview-epg-api.html)**.

    **The EPG API and Cloud Playout are currently in *limited availability*. If you are interested in trying it out, contact your Account Manager.**

     **Base URL**: https://cm.cloudplayout.brightcove.com
  version: 1.0.0
  x-bc-access: public
servers:
  - url: 'https://cm.cloudplayout.brightcove.com'
    variables: {}
tags:
  - name: Channels
    description: Operations for Cloud Playout Channels.
paths:
  '/accounts/{account_id}/cp_channels':
    get:
      tags:
        - Channels
      summary: Get a list of Cloud Playout channels for the account
      description: |-
        'Get a list of Cloud Playout channels for the account'
      operationId: GetChannels
      security:
        - BC_OAuth2:
          - video-cloud/playlist/read
          - video-cloud/video/read
      parameters:
        - name: account_id
          in: path
          description: Video Cloud account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see [Getting Access Tokens](/oauth/guides/getting-access-tokens.html))'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChannelsResponse'
        '400':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your policy
            key is correct
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  schemas:
    GetChannelsResponse:
      title: Channels Response
      description: The list of channels
      type: object
      properties:
        items:
          type: array
          description: Array of channel objects
          items:
            $ref: '#/components/schemas/Channel'
    Channel:
      title: Channel
      description: Object containing channel properties
      type: object
      properties:
        public_id:
          type: string
          description: The channel id
          example: '852a98d41fce46be9e0ab203bab2e2a2'
        name:
          type: string
          description: The channel name
          example: 'Channel-3'
        description:
          type: string
          description: The channel description
          example: 'A sample channel'
        account_id:
          type: string
          description: The Video Cloud account id
          example: '1752604059001'
        state:
          type: string
          description: |-
            The current state of the channel. 
            - DRAFT - Channel has been created but not activated
            - CREATING - Channel is in the process of being activated
            - SCHEDULED - Channel is active and ready to stream
            - STARTING - Channel starting process to begin streaming
            - RUNNING - Channel is actively streaming
            - STOPPING - Channel streaming is stopping
            - IDLE - Channel successfully ran and has been stopped
            - DELETING - Channel is being deleted
            - ERROR - An error occurred while creating or streaming the channel
          example: 'RUNNING'
          enum:
            - DRAFT
            - CREATING
            - SCHEDULED
            - STARTING
            - RUNNING
            - STOPPING
            - IDLE
            - DELETING
            - ERROR
        status:
          type: string
          description: |-
            The current status of the channel. 
            - null - Channel has been created but not activated
            - Channel started - Channel is playing
            - Channel stopped - Channel has been stopped
          example: 'Channel started'
          enum:
            - null
            - Channel started
            - Channel stopped
            - Scheduled for start
        start_time:
          type: string
          description: UTC date-time stamp for when the channel started playing, or is scheduled to start
          example: '2021-01-02 15:01:33 UTC'
        stop_time:
          type: string
          description: >-
            UTC date-time stamp for when the channel stopped playing, or is scheduled to stop; will be null if the channel has not been stopped and has no scheduled stop date-time
          example: '2021-01-06 05:00:44 UTC'
        input_groups:
          type: string
          description: >-
            Colon-separated values indicating the kind of inputs
          example: 'slate:rtmp:playlist'
        output_groups:
          type: string
          description: >-
            Colon-separated values indicating the kind of outputs
          example: 's3:rtp'
        loop_playlist:
          type: boolean
          description: >-
            Whether the channel loops or plays once
          example: 'true'
        playlist_id:
          type: string
          description: >-
            ID for the playlist generated for the channel
          example: '1688165757958954323'
        channel_class:
          type: string
          description: >-
            Type of channel - for internal Brightcove use only
          example: 'single-pipeline'
        ssai_enabled:
          type: boolean
          description: >-
            Whether the channel is enabled for server-side ad insertion
          example: 'true'
        aws_region:
          type: string
          description: >-
            AWS region to host the output
            - us-east-1 (Virginia)
            - us-east-2 (Ohio)
            - us-west-1 (Oregon)
            - ap-south-1 (Mumbai)
            - ap-northeast-2 (Seoul)
            - ap-southeast-1 (Singapore)
            - ap-southeast-2 (Sydney)
            - ap-northeast-1 (Tokyo)
            - eu-central-1 (Frankfurt)
            - eu-west-1 (Ireland)
            - eu-west-2 (London)
            - eu-west-3 (Paris)
            - eu-north-1 (Stockholm)
            - sa-east-1 (São Paulo)
          enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - ap-south-1
            - ap-northeast-2
            - ap-southeast-1
            - ap-southeast-2
            - ap-northeast-1
            - eu-central-1
            - eu-west-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - sa-east-1
          example: 'us-east-1'
        message:
          type: string
          description: For internal Brightcove use
        created_at:
          type: string
          description: UTC date-time stamp for when the channel was created
          example: '2021-01-02 15:01:33 UTC'
        updated_at:
          type: string
          description: >-
            UTC date-time stamp for when the channel was last modified
          example: '2021-01-06 05:00:44 UTC'
        image_url:
          type: string
          description: >-
            URL for the channel image
          example: 'https://bc-cloudplayout-prod.s3.amazonaws.com/default_channel_image.png'
        output_destinations:
          type: array
          description: Array of output destinations
          items:
            type: string
            description: An output destination
            enum:
            - Brightcove Live
            - RTMP
            - S3
          example: "output_destinations"\: [
            "Brightcove Live"
          ]
        channel_created_at:
          type: string
          description: UTC date-time stamp for when the channel was created
          example: '2021-01-02 15:01:33 UTC'
        channel_updated_at:
          type: string
          description: >-
            UTC date-time stamp for when the channel was last modified
          example: '2021-01-06 05:00:44 UTC'
        channel_created_by:
          type: string
          description: email address of the user who created the channel
          example: '2021-01-02 15:01:33 UTC'
        channel_updated_by:
          type: string
          description: >-
            UTC date-time stamp for when the channel was last modified
          example: '2021-01-06 05:00:44 UTC'
  securitySchemes:
    BC_OAuth2:
      type: oauth2
      description: >-
        Brightcove OAuth API. See the [support documentation](/oauth/index.html) or [Getting Access Tokens](/oauth/code-samples/oauth-api-sample-get-access-token.html) to learn more
      flows:
        clientCredentials:
          tokenUrl: 'https://oauth.brightcove.com/v4/access_token'
          scopes:
            video-cloud/player/read: Read player data
            video-cloud/player/all: Read/write player data
